{{!< layout}}

<link rel="prefetch" href="/generic-dialog" />

<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main intro-header">
      <h1>Cacheable app iframes</h1>

      <p class="subtitle hideable">Faster apps with iframe caching</p>
    </div>
  </div>
</header>

<div class="page-container">
  <div class="page">

    <h2 class="hideable">Guide</h2>
    <p class="hideable">
      This app provides a working example of cacheable app iframes.
      You may wish to start by reading the <a href="https://developer.atlassian.com/cloud/confluence/cacheable-app-iframes/" target="_blank">guide</a>.
    </p>

    <h2 class="hideable">Using this demo</h2>
    <p class="hideable">
      In addition to explaining how to write cacheable iframes, this open source app demonstrates cacheable iframe features.
      This app declares various dialogs and web items as being cacheable and non-cacheable.
      The app displays timing and context information within panels and dialogs.
    </p>

    <h3 class="hideable">Dialog demos</h3>
    <p class="hideable">
      Use the following buttons to open dialogs declared as being non-cacheable and cacheable:
    </p>
    <p class="centered">
      <button id="open-non-cacheable-dialog" class="aui-button">Open non-cacheable dialog</button>
      <button id="open-cacheable-dialog" class="aui-button">Open cacheable dialog</button>
    </p>
    <p class="hideable">
      <b>Note</b>: The buttons above are the best way to view the timing information relating to the speed
      with which the dialogs are opened.
      This is because the dialogs are opened programmatically which allows a timestamp to be added to the context of
      the dialog which is later retrieved after the dialog frame is rendered and used to compute the latency
      between requesting the opening of the dialog to the rendering of the dialog content.
    </p>

    {{> timing}}

    {{> context}}

    {{> current-url}}

  </div>
</div>

<script>
  $(window).load(function() {
    possiblyHideHideables();
    bindOpenDialogClickHandler(
      'open-non-cacheable-dialog',
      'non-cacheable-dialog',
      'Dialog not declared as cacheable');
    bindOpenDialogClickHandler(
      'open-cacheable-dialog',
      'cacheable-dialog',
      'Dialog declared as cacheable');
  });
</script>
