
<h2>Current URL</h2>

<p class="hideable">
  The current URL is as follows:
</p>

<p>
  <pre id="current-url-container" class="good wrappable"></pre>
</p>

<script>
  $(window).load(function() {
    fillOutCurrentURLElement('current-url-container');
  });
</script>
