<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="ap-local-base-url" content="{{localBaseUrl}}">
  <meta name="server-render-timestamp" content="{{serverRenderTimestamp}}">
  <title>{{title}}</title>

  <!-- Load app CSS -->
  <link rel="stylesheet" href="{{furl '/css/app.css'}}" media="all">

  <!-- Load Atlassian CSS and Javascript -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui.css" media="all">
  <!--[if lt IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie.css" media="all"><![endif]-->
  <!--[if IE 9]><link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/css/aui-ie9.css" media="all"><![endif]-->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui.js"></script>
  <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/aui/5.2/js/aui-ie.js"></script><![endif]-->

  <!-- Load all.js -->
  <script src="https://connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>

  <!-- Load this app's script -->
  <script src="{{furl '/js/app.js'}}" async></script>
</head>
<body class="page-container">
  <section id="content" role="main">
    {{{body}}}
  </section>
</body>
</html>
